@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the stepper for number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; /* Standard property for compatibility */
  -moz-appearance: textfield; /* Hide the stepper in Firefox */
}